<div *ngIf="auth.loggedIn" class="container mt-3">
    <h2 class="highlight">Timeline Selection</h2>
    <input type="range" id="range" [(ngModel)]="rangeValue" class="wid50" max="100">
    
    <div class="d-flex mb-3 flex-fill bg-warning" class="gfg_flex">
      <div *ngFor="let item of quarters; let j = index" class="wid100" >
      <div id='{{item.id}}' [style.width]="item.width" [ngClass]="item.class">{{item.name}}</div>
      </div>
      <!-- p-2 flex-fill bg-info -->
      <!-- <div id="timelineQ1"  [style.width]="rangeCtrlWidth" class="p-2 flex-fill bg-info">Quarter 1 2020</div>
      <div class="p-2 flex-fill bg-warning">Quarter 2 2020</div>
      <div class="p-2 flex-fill bg-primary">Quarter 3 2020</div>
      <div class="p-2 flex-fill bg-warning">Quarter 4 2020</div>
      <div class="p-2 flex-fill bg-primary">Quarter 1 2021</div>
      <div class="p-2 flex-fill bg-warning">Quarter 2 2021</div>
      <div class="p-2 flex-fill bg-primary">Quarter 3 2021</div>(mouseclick) ="loadTimeLine()" (change) ="loadTimeLine()"  -->
    </div> 
  </div>
